<table summary="Speaker form fields">
  <tr>
	<th><%= f.label(:name, "Name")%></th>
	<td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
	<th><%= f.label(:description)%></th>
	<td><%= f.text_area(:description, :size => "160x40") %></td>
  </tr>
</table>