<% @page_title = "Create Speaker" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="speakers new">
  <h2>Create Speaker</h2>

  <%= form_for(:speaker, :url => {:action => 'create'}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Speaker") %>
    </div>

  <% end %>
</div>
